.RegistrationSearchResults-td {
  padding: 0;
}

.RegistrationSearchResults-anchor {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.4375rem;
  min-height: 1.5em;
}

.RegistrationSearchResults-more {
  display: block;
  text-align: center;
  width: 100%;
}

.RegistrationSearchResults-noResults {
  text-align: center;
}
