.SimpleMessageLayout-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.SimpleMessageLayout-mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);

  background-color: var(--mantine-primary-color-filled);
}

.SimpleMessageLayout-mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--mantine-spacing-sm);
}

.SimpleMessageLayout-title {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: var(--mantine-spacing-md);
}
