.InterviewPanel-root {
  flex: auto;
  display: flex;
  align-items: stretch;
  position: relative;

  @media (max-width: 48em) {
    & {
      flex-direction: column;
    }
  }
}

.InterviewPanel-historyCol {
  flex: none;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 48em) {
    & {
      margin-bottom: var(--mantine-spacing-xs);
    }
  }

  @media (min-width: 48em) {
    & {
      margin-right: var(--mantine-spacing-xs);
      width: 250px;
      position: relative;
    }
  }
}

.InterviewPanel-history {
  position: absolute;
  left: 0;
  top: 0;
  right: 0.0625rem;
  bottom: 0;
}

.InterviewPanel-divider {
  align-self: stretch;
}

.InterviewPanel-contentCol {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.InterviewPanel-content {
  flex: auto;
}

.InterviewPanel-historySelector {
  flex: auto;
}
